.nwgripStyle, .negripStyle, .swgripStyle, .segripStyle, .ngripStyle, .egripStyle, .sgripStyle, .wgripStyle, .rotatePoint {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border: 1px solid #000000;
}
.rotatePoint{
    position: absolute;
}
.nwgripStyle{
    left: -5px;
    top: -5px;
}
.negripStyle{
    top: -5px;
    right: -5px;
}
.swgripStyle{
    bottom: -5px;
    left: -5px;
}
.segripStyle{
    bottom: -5px;
    right:-5px;
}
.ngripStyle{
    top: -5px;
}
.sgripStyle{
    bottom: -5px;
}
.wgripStyle{
    left:-5px;
}
.egripStyle{
    right:-5px;
}